body {
  background-color: #141414;
}

h1 {
  font-size: 75px;
}
.color-main {
  color: #b6beb8;
  font-size: 30px;
}
.alternative {
  background-color: #333333;
}
.button-drop {
  border-radius: none;
  border: solid 1px white;
  padding: 7px;
  padding-inline: 20px;
}

.separator {
  border-color: #323232;
}

.spacing {
  letter-spacing: 3px;
  padding-inline: 20px;
}
.bg-netflix {
  background-color: #141414;
}
.navbarProfile {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0) 0%,
    rgba(0, 0, 0, 0.9996731114320728) 97%
  );
}
