body {
  background-color: #141414;
  padding: 20px;
}
.bg-netflix {
  background-color: #141414;
}
.button-drop {
  border-radius: none;
  border: solid 1px white;
  padding: 7px;
  padding-inline: 20px;
}
.border-radius-none {
  border-radius: none;
}
.navbarProfile {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.5206815147934174) 0%,
    rgba(0, 0, 0, 1) 68%
  );
}
