body {
  background-color: #141414;
}
.bg-netflix {
  background-color: #141414;
}
.button-drop {
  border-radius: none;
  border: solid 1px white;
  padding: 7px;
}
.border-radius-none {
  border-radius: none;
}
.navbarProfile {
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0) 0%,
    rgba(0, 0, 0, 0.9996731114320728) 97%
  );
}
